$primaryfont: ('Rubik', sans-serif);

:root {
  --black-primary: #2c2c2c;
  --black-secondary: #000000;
  --gray-very-dark: #969696;
  --gray-dark: #e4e4e4;
  --white: #ffffff;
  --gray-border: #d9d9d9;
}
