:root {
  --black-primary: #2c2c2c;
  --black-secondary: #000000;
  --gray-very-dark: #969696;
  --gray-dark: #e4e4e4;
  --white: #ffffff;
  --gray-border: #d9d9d9;
}

body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
}

p,
h1,
h2,
h3,
h4,
ul,
li {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 375px;
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}
.header {
  margin: auto;
  width: 375px;
  height: 300px;
  background-image: url(../images/pattern-bg-mobile.png);
}
.header__heading {
  margin: auto;
  padding-top: 25px;
  width: 300px;
  color: var(--white);
  font-size: 26px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.232px;
  text-align: center;
}

.search {
  margin: 30px auto 0 auto;
  width: 327px;
  height: 58px;
}
.search__form {
  width: 327px;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px;
  background: var(--white);
}
.search__input {
  width: 269px;
  height: 58px;
  padding: 0;
  padding-left: 24px;
  border-radius: 15px 0 0 15px;
  border: none;
  -webkit-box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.1);
  color: var(--black-primary);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.179px;
}
.search__input::-webkit-input-placeholder {
  font-size: 14px;
  color: var(--gray-very-dark);
}
.search__input::-moz-placeholder {
  font-size: 14px;
  color: var(--gray-very-dark);
}
.search__input:-ms-input-placeholder {
  font-size: 14px;
  color: var(--gray-very-dark);
}
.search__input::-ms-input-placeholder {
  font-size: 14px;
  color: var(--gray-very-dark);
}
.search__input::placeholder {
  font-size: 14px;
  color: var(--gray-very-dark);
}
.search__button {
  width: 58px;
  height: 58px;
  padding: 0;
  border-radius: 0 15px 15px 0;
  border: none;
  cursor: pointer;
}
.search__icon {
  width: 58px;
  height: 58px;
}

@media screen and (min-width: 1440px) {
  .header {
    width: 1440px;
    height: 280px;
    background-image: url(../images/pattern-bg-desktop.png);
  }
  .header__heading {
    padding-top: 34px;
    font-size: 32px;
    letter-spacing: -0.286px;
  }
  .search {
    width: 555px;
  }
  .search__form {
    width: 555px;
  }
  .search__input {
    width: 497px;
    letter-spacing: 0.2px;
  }
  .search__input::-webkit-input-placeholder {
    font-size: 18px;
  }
  .search__input::-moz-placeholder {
    font-size: 18px;
  }
  .search__input:-ms-input-placeholder {
    font-size: 18px;
  }
  .search__input::-ms-input-placeholder {
    font-size: 18px;
  }
  .search__input::placeholder {
    font-size: 18px;
  }
}
.info {
  margin: auto;
  width: 327px;
  height: 294px;
  position: absolute;
  left: 0;
  right: 0;
  top: 168px;
  z-index: 3;
  border-radius: 15px;
  background: var(--white);
  -webkit-box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.1);
}
.info__list {
  margin: auto;
  margin-top: 26px;
  width: 300px;
  list-style-type: none;
  text-align: center;
}
.info__list-border {
  width: 1px;
  height: 75px;
  background-color: var(--gray-border);
  display: none;
}

.info-list-item__headline {
  margin-top: 24px;
  font-size: 10px;
  letter-spacing: 1.458px;
  text-transform: uppercase;
  color: var(--gray-very-dark);
}
.info-list-item__text {
  margin-top: 7px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.179px;
}

@media screen and (min-width: 1440px) {
  .info {
    width: 1110px;
    height: 161px;
    top: 200px;
  }
  .info__list {
    width: 1110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 32px;
    text-align: unset;
  }
  .info__list-border {
    display: block;
  }
  .info-list-item {
    width: 213px;
  }
  .info-list-item__headline {
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 1.75px;
  }
  .info-list-item__text {
    margin-top: 15px;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.232px;
  }
}
.map {
  margin: auto;
  width: 375px;
  height: 619px;
  left: 0;
  right: 0;
}

#map {
  width: 375px;
  height: 619px;
  position: absolute;
  z-index: 1;
}

@media screen and (min-width: 1440px) {
  .map {
    width: 1440px;
    height: 639px;
  }
  #map {
    width: 1440px;
    height: 639px;
  }
}
.footer {
  margin: auto;
  width: 375px;
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 0;
  background-color: var(--white);
}
.footer__text {
  font-size: 10px;
  letter-spacing: 1.458px;
  text-transform: uppercase;
  color: var(--gray-very-dark);
}

@media screen and (min-width: 1440px) {
  .footer {
    width: 1440px;
  }
}/*# sourceMappingURL=main.css.map */